body {
  background-color: purple;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

#main-heading {
  color: black;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
}

.intro {
  font-size: 24px;
  color: black;
}

.react-logo {
  display: block;
  margin: 20px auto;
  width: 120px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  font-size: large;
}

.section {
  background-color: purple;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  font-family: initial;
  color: black;
  font-size: large;
}

#resources table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

#resources th,
#resources td {
  border: 1px solid white;
  padding: 10px;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

form {
  margin-top: 15px;
}

.form-fieldset{
  border: 5px solid #ccc;
  padding: 15px;
  border-radius: 6px;
  background-color: purple;
}

legend {
  font-weight: bold;
  color: black;
}

.input-field {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 4px;
  color: black;
}

.submit-button {
  background-color: #27ae60;
  color: white;
  border: black;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #1e8449;
}